
body{
  background: #F8F8F8;
  margin: 0px;
}

header{
  background-color: lightseagreen;
  border-radius: 50% 0% 50% 0%;
}
  h1{
    color: lightgrey;
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    margin: 0;
  }
  ul{
    text-align: center;
    padding: 30px;
    }
  nav li{
    display: inline-block;
    margin: 20px;
    }
  nav a{
    color: lightgrey;
    text-decoration: none;
    text-transform: uppercase;
    }
  nav a:hover{
    color: grey;
    }
    .point{
      color: black;
    }
main{
  padding: 40px;
  margin: 0px;
}
h4{
  color: lightseagreen;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
}
.center{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}
footer{
  background-color: lightseagreen;
  border-radius: 50% 0% 50% 0%;
  clear: both;
}
  p{
  color: lightgrey;
  padding: 40px;
  margin: 0px;
  text-align: center;
  }
    .email{
      color:#708090;
      text-decoration: inherit;
    }
      .email:hover{
        color:black;
      }
